@{
    var usuarioLogado = ((TvCorporativa.Models.Usuario)Session["UsuarioLogado"]);
}
<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset 'charset=iso-8859-1';" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title - Tv Corporativa</title>
        @RenderPage("_Head.cshtml")
        @RenderSection("styles", false)
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Tv Corporativa", "Index", "Home", null, new { @class = "navbar-brand" })
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul id="ulMenu" class="nav navbar-nav">
                        <li>@Html.ActionLink("PlayLists", "Index", "PlayList")</li>
                        <li>@Html.ActionLink("Mídias", "Index", "Midia")</li>
                        <li>@Html.ActionLink("Feeds", "Index", "Feed")</li>
                        
                        @if (usuarioLogado != null && usuarioLogado.Administrador)
                        {
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                               
                                    <li>@Html.ActionLink("Pontos", "Index", "Ponto")</li>
                                    <li>@Html.ActionLink("Templates", "Index", "Template")</li>
                                    <li>@Html.ActionLink("Empresas", "Index", "Empresa")</li>
                                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                                    <li></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    
                    <div class="pull-right">
                        @Html.Label("Email", usuarioLogado != null ? usuarioLogado.Email.ToLower() : "", new { @class = "navbar-brand" })
                        @Html.ActionLink("Sair", "Logout", "Login", null, new { @class = "btn btn-default navbar-btn" })
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>

        <br/><br/><br />
        <footer class="footer">
            <div class="container">
                <p class="floatLeft">&copy; @DateTime.Now.Year - Tv Corporativa</p>
                @Html.ActionLink("Apresentação", "Index", "Apresentacao", null, new { @class = "floatRight"})
            </div>
        </footer>
        @RenderSection("Scripts", false)
    </body>
</html>

<script>
    $(document).ready(function() {
        $("#ulMenu li a").click(function() {
            $(this).parent().addClass("active");
        });
    });
</script>
