@model IEnumerable<TvCorporativa.Models.Ponto>

@{
    ViewBag.Title = "Pontos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pontos</h2>

<p>
    @Html.ActionLink("Novo Ponto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.CheckBox("Status", item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
