@model IEnumerable<TvCorporativa.Models.Ponto>

@{
    ViewBag.Title = "Pontos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pontos</h2>

<p>
    @Html.ActionLink("Criar Ponto", "Create", null, new { @class = "btn btn-default" })
</p>
                      <div class="table-responsive">
                          <table class="table">
                              <tr>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Status)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Nome)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Template)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Empresa)
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.Label(item.Status ? "Ativo" : "Inativo", new { @class = item.Status ? "label label-success" : "label label-danger" })
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Nome)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Template.Nome)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Empresa.Nome)
                                      </td>
                                      <td>
                                          @Html.ActionLink("Visualizar", "Visualizar", new { idPonto = item.Id, idEmpresa = item.IdEmpresa }, new { @target = "_blanck", @class = "btn btn-xs btn-warning" }) | 
                                          @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) |
                                          @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { onclick = "return confirm('Você tem certeza que deseja excluir?');", @class = "btn btn-xs btn-danger" })
                                      </td>
                                  </tr>
                              }

                          </table>
</div>