@model IEnumerable<TvCorporativa.Models.Empresa>
    @{
        ViewBag.Title = "Empresas";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Empresas</h2>

                      <p class="col-md-4">
                          @Html.ActionLink("Criar Empresa", "Create", null, new { @class = "btn btn-default" })
                      </p>
                      @RenderPage("~/Views/Shared/_Busca.cshtml")
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <tr>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      Data Criação
                                  </th>
                                  <th>
                                      Endereço
                                  </th>
                                  <th>
                                      Telefone
                                  </th>
                                  <th>
                                      Cnpj
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.Label(item.Status ? "Ativa" : "Inativa", new { @class = item.Status ? "label label-success" : "label label-danger" })
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Nome)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.DataCriacao)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Endereco)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Telefone)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Cnpj)
                                      </td>
                                      <td>
                                          @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) |
                                          @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { onclick = "return confirm('Você tem certeza que deseja excluir?');", @class = "btn btn-xs btn-danger" })
                                      </td>
                                  </tr>
                              }
                          </table>
                       </div>