@using TvCorporativa.DAL
@using TvCorporativa.DAO


@{
    ViewBag.Title = "Home";
    var usuarioLogado = ((TvCorporativa.Models.Usuario)Session["UsuarioLogado"]);
}

<div class="jumbotron">
    <h1>Tv Corporativa</h1>
    <p class="lead">Olá @Html.Label(usuarioLogado.Nome) seja Bem vindo!</p>
    <p> Aqui você controla todos os pontos de comunicação de sua empresa.</p>
</div>

@{
    var pontos = GetServiceHelper.GetService<PontoDao>().GetAll(usuarioLogado.Empresa);

    foreach (var ponto in pontos)
    {
        <div class="col-sm-4">
            
            <div class="@( ponto.Status ? "panel panel-primary" : "panel panel-danger")">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.Label(ponto.Nome) - @Html.Label(ponto.Status ? "Ativo" : "Inativo")</h3>
                </div>
                <div class="panel-body">
                    O que ta rolando?
                    <br/><br/>
                    @Html.ActionLink("Visualizar", "Visualizar", new { idPonto = ponto.Id, idEmpresa = ponto.IdEmpresa }, new { @target = "_blank", @class = "btn btn-xs btn-warning" })
                    
                    @{
                        if (ponto.Status)
                        {
                            <a href="javascript:void(0)" onclick="sincronizarPonto(@(ponto.Id))" class="btn btn-xs btn-success">Sincronizar</a>
                            <img id="imgLoad@(ponto.Id)" src="../../img/loading.gif" class="imgLoad16 displayNone" />
                            <span id="spanSuccess@(ponto.Id)" class="displayNone"></span>        
                        }
                    }
                    
                </div>
            </div>
        </div>
    }
}

@section Scripts
{
    <script src="~/Scripts/js/Home.js"></script>
}
