@using System.Web.Mvc.Html
@model IEnumerable<TvCorporativa.Models.PlayList>

@{
    ViewBag.Title = "PlayLists";
}

<h2>PlayLists</h2>

<p>
    @Html.ActionLink("Criar PlayList", "Create")
</p>
                      <div class="table-responsive">
                          <table class="table">
                              <tr>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Status)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Nome)
                                  </th>
                                  <th>
                                      @Html.Label("Data Criação")
                                  </th>
                                  <th>
                                      @Html.Label("Data Início")
                                  </th>
                                  <th>
                                      @Html.Label("Data Fim")
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.Label(item.Status ? "Ativa" : "Inativa", new { @class = item.Status ? "label label-success" : "label label-danger" })
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Nome)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.DataCriacao)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.DataInicio)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.DataFim)
                                      </td>
                                      <td>
                                          @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) |
                                          @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { onclick = "return confirm('Você tem certeza que deseja excluir?');", @class = "btn btn-xs btn-danger" })
                                      </td>
                                  </tr>
                              }

                          </table>
                      </div>
