@model IEnumerable<TvCorporativa.Models.Midia>

@{
    ViewBag.Title = "Mídias";
}

<h2>Mídias</h2>

<p>
    @Html.ActionLink("Criar Mídia", "Create", null, new { @class = "btn btn-default" })
</p>
                      <div class="table-responsive">
                          <table class="table">
                              <tr>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Nome)
                                  </th>
                                  <th>
                                      Extensão
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Tamanho)
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Nome)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Extensao)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Tamanho)
                                      </td>
                                      <td>
                                          @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) |
                                          @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { onclick = "return confirm('Você tem certeza que deseja excluir?');", @class = "btn btn-xs btn-danger" })
                                      </td>
                                  </tr>
                              }

                          </table>
</div>